
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

  .colorLight{
      background-color: #f8eded;
  }
  .colorWhite{
      background-color: #ffffff;
  }
  .fntWork{
      font-family: 'Work Sans', sans-serif !important;
      font-size: 20px !important;
  }
  .padding15{
      padding-top: 15;
  }
  .bold{
      font-size: 21px !important;
      font-weight: bold !important;
      text-decoration: none;
  }
  .forms {
    
    width: 100vh;
    height: 100vh;
  }

.margin{
    margin-bottom: 3rem;
  }

.margin02 {
  margin-top: 1rem;
}

.center{
  text-align: center 
}

.btn02-content {
  color: whitesmoke;
  font-weight: bold!important;
}
  
.btn02 {
  background-color: rgb(241, 25, 25)!important;
  width: 20%;
  height: 2.5rem;
  margin: 0!important;
}

.btn02:hover {
  background-color: rgb(241, 25, 25)!important
}

.queroajudar-img {
  padding: 2rem;
}

