.btn02 {
    background-color: gray;
  }
  
  .imagem5 {
    background-image: url(https://cdn.pixabay.com/photo/2015/06/01/06/32/hand-792920_960_720.jpg);
    width: 100vh;
    height: 100vh;
    background-size: cover;
    
  }
  
  