.imagems{
    background-image: url(https://cdn.noticias.ambientebrasil.com.br/wp-content/uploads/2020/12/floresta_tropical-1024x576.jpg);
    background-repeat: no-repeat;
    
    background-size: cover;
    background-position: center;
}
.perfis{
    width:170px;
    height:170px;
    display: block;
    margin:0 auto;
}
