@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,400&family=Open+Sans&family=Work+Sans&display=swap');
.imagemBanner{
    background-image: url(https://res.cloudinary.com/worldpackers/image/upload/c_fill,f_auto,h_500,q_auto,w_1024/v1/guides/article_cover/ofkdplx0kuz1yslqiavy);
    background-repeat: no-repeat;
    
    background-size: cover;
    background-position: center;
}
.perfis{
    width:150px;
    height:150px;
    display: block;
    margin:0 auto;
}

.marginText{
    margin-top: 4px;
    margin-bottom: 50px;
}
.fontWork{
    font-family: 'Work Sans', sans-serif !important;
}
.fontMerri{
    font-family: 'Merriweather', serif !important;
    font-weight: bold !important;
}
.fontSans{
    font-family: 'Open Sans', sans-serif!important;
}
.integrantColor{
    background-color:#fbebeb;
}
.padding{
    padding-top: 20px;
}

