.MuiAppBar-colorPrimary {
    background-color: #960718 !important;
    box-shadow: none!important;
}

.colornav {
  color: #fbebeb;

}

.cursorp {

cursor: pointer;
}

.text-decorator-none {

  text-decoration: none;
}