.MuiAppBar-colorPrimary {
    background-color: #960718 !important;
}

.colornav {
  color: #fbebeb;
  font-family:'Open Sans', sans-serif !important;
  
}

.cursorp {

cursor: pointer;
}

.text-decorator-none {

  text-decoration: none;
}

